<mat-card class="skill-card">
  <mat-card-header>
    <mat-icon mat-card-avatar class="icon-category" fontIcon="{{ category.icon }}"></mat-icon>
    <mat-card-title class="category-title">{{ category.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="skill-list">
      <div class="skill-parent" *ngFor="let skill of category.skills">
        <div class="skill-container">
          <img [src]="skill.image" [alt]="skill.name" class="skillImage" />
        </div>
        <span class="skill-title">{{ skill.name }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
