.skill-card {
  border-radius: 2.1875rem;
  background: #2d2e32;
  padding: 2.6rem;
  box-sizing: border-box;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.icon-category {
  font-size: 3rem;
  margin-bottom: 4rem;
  color: white;
}

.category-title {
  color: #fff;
  text-align: left;
  font-size: 1.7625rem;
  margin-bottom: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 72.727% */
}

.skill-container:hover {
  border: 2px solid #0259b6;
}

.skill-container:hover {
  background-color: white;
}

.skill-container:hover .skillImage {
  filter: grayscale(100%);
}

.skill-title {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 92.308% */
}

.skillImage {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  object-fit: contain;
}

.skill-container {
  padding: 30px;
  border-radius: 50%;
  border: 2px solid #565656;
  margin: 0 auto;
  text-align: center;
  max-width: 115px;
}

.skill-parent {
  text-align: center;
}
