
<mat-sidenav-container >

  <mat-sidenav mode="over"  #sidenav>
    <mat-nav-list>

      <a  href="#skills" pageScroll [pageScrollDuration]="200"   mat-list-item (click)="sidenav.close()">
        Skills
      </a>
      <a  href="#projects"  pageScroll [pageScrollDuration]="300"  mat-list-item (click)="sidenav.close()">
        Projects
      </a>
      <a href="#certifications"  pageScroll [pageScrollDuration]="500" mat-list-item (click)="sidenav.close()">
        Certifications
      </a>
      <a (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>close</mat-icon>
        Close
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content style="overflow: hidden">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid p-0  ">
        <div class="row align-items-center ">
          <div class="col-9 col-sm-1 offset-sm-2 offset-0  ">
            <img src="assets/navbar/logo.png" width="42" height="42" alt="">
          </div>
          <div class="col-1 offset-4 d-sm-block d-none">
            <a href="#skills" pageScroll [pageScrollDuration]="200"   >
              <button  mat-button>SKILLS</button>

            </a>
          </div>
          <div class="col-1 d-sm-block d-none">
            <a href="#projects"  pageScroll [pageScrollDuration]="300" >
              <button mat-button>PROJECTS</button>
            </a>
          </div>
          <div class="col-1 d-sm-block d-none">
            <a href="#certifications"  pageScroll [pageScrollDuration]="500">
              <button mat-button>CERTIFICATIONS</button>
            </a>
          </div>
<!--          <div class="col-1 ml-5 d-sm-block d-none">-->
<!--            <button mat-button>CONTACT ME</button>-->
<!--          </div>-->
          <div class=" col-3 pl-4 d-sm-none d-block ">
            <button mat-icon-button color="accent" (click)="sidenav.toggle()"
                    aria-label="Example icon button with a menu icon">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </nav>

    <app-presentation></app-presentation>
    <app-skills id="skills"></app-skills>
    <app-projects id="projects"></app-projects>
    <app-certifications id="certifications"></app-certifications>
  </mat-sidenav-content>
</mat-sidenav-container>
