nav {
  background-image: url("../../assets/navbar/desktop-navbar.png");
  color: white;
  height: 10vh;

}
.navbar >* * {
  color: white;
}
.row {
  flex-grow: 1
}
button{
  font-size: 20px;
  line-height: 24px;
}
mat-sidenav-container {
  width: 100%;
}
button:focus { outline: none; }

//@media screen and (min-width: 768px) {
//nav {
//  top: -30px;
//  position: fixed;
//  width: 100%;
//  z-index: 9999;
//
//}
//}
//
