<div class="container-fuild background  ">
  <div class="row  ">
    <div class="col-12 my-3 component-title text-center">
      Certifications

    </div>
  </div>

  <div *ngFor="let certification of certifications; let i = index"
       class="row  my-sm-5 my-2  align-items-center d-sm-flex justify-content-center">
    <div class="col-sm-2 offset-sm-2 col-1 offset-0 text-center">
      <img src="{{certification.image}}" alt="">
    </div>
    <!--    <div class="col-1"></div>-->
    <div class="col-sm-5 col-5   ">
      <div class="row py-2 align-items-center">
        <div class="title  col-12">
          {{certification.name}}
        </div>
        <div class="subtitle   col-12">
          Issued by           {{certification.issuer}}

        </div>
        <div class="col-12">
          Obtention Date: {{certification.date}}
        </div>
        <div *ngIf="certification.link" class="col-12 mt-2 d-sm-block d-none">
          <a href="{{certification.link}}" target="_blank">
            <button class="btn w-25">
              Verify Certificate
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 text-center mt-3 d-block d-sm-none">
      <a href="https://www.youracclaim.com/badges/57ecd28b-81d4-4054-9a9d-54c548f90a42" target="_blank">
        <button class="btn  " style="width: 90%">
          Verify Certificate
        </button>
      </a>
    </div>
  </div>
</div>
