.background {
  background-image: url("../../assets/certification/desktop-certification.png");
  min-height: 30vh;
  width: 100%;
  background-size: 100% 100%;
}

img {
  max-height: 20vh;
  max-width: 100%;
}

button {
  background: #388FDD;
  border-radius: 50px;

    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}
