<div class="container ">
  <div class="row ">
    <div class="col-12 project mt-sm-5 mt-0 ml-3 ml-sm-0 mb-3 pt-5">
      Projects
    </div>
  </div>
  <div *ngFor="let project of projects; let i = index" class="row no-gutters  mt-5">
      <div class=" col-sm-6 col-12 mt-3 ">
        <div class="row  no-gutters">
          <div class="col-12  my-3 title" >

          <div *ngIf="!project.link">{{project.name}}</div>
          <a href="{{project.link}}" *ngIf="project.link">{{project.name}}</a>
          </div>
          <div class="col-12 my-2 description">
            {{project.description}}
          </div>
          <div class="col-12 col-sm-9 pr-1  mt-2  skills ">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="subtitle">
                      Skills
                    </div>
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <button *ngFor="let skill of project.skills" class="skill mt-1">
                  <img class= "img-fluid" src="assets/skills/{{skill.toLowerCase()}}" alt=""> {{skill}}
                </button>
              </mat-expansion-panel>
            </mat-accordion>

          </div>
          <div class="col-12 mt-2">
            <div class="subtitle">
              Key Features :
            </div>
<!--            <mat-list>-->
<!--              <mat-list-item *ngFor="let feature of project.features"> {{feature}} </mat-list-item>-->
<!--            </mat-list>-->
            <ul class="feature-list">
              <li *ngFor="let feature of project.features" class="feature-item">{{ feature }}</li>
              <br>
            </ul>
          </div>
        </div>
      </div>
    <div class="col-sm-6 col-12 order-sm-2 order-first w-100 text-center">
      <gallery [thumb]="false"  [counter]="true" [imageSize]="'contain'" id=" {{i}}" gallerize="{{i}}"  [items]="items[i]"></gallery>
    </div>
    <div class="col-12 mt-5 order-last" style="border: 1px solid #E4E4E4;"></div>
  </div>
</div>
