.project {
  font-weight: bold;
  font-size: 36px;
  line-height: 58px;
  color: #0259B6;
}

.feature-list {
  list-style-type: disc;
}

.feature-list li {
  margin-bottom: 10px;
}

.title{
  font-size: x-large;
}
@media screen and (max-width: 768px) {
  //.title, .description, .social, .follow , .project, .subtitle{
  //  text-align: center;
  //}
  .project {
    margin: 0px;
    padding: 0px;
  }
  .skill {
    min-width: 130px;
    font-size: 14px;
  }
  mat-list-item {
    line-height: 20px;
  }
}
