<div class="container-fluid background  ">
  <div class="row  p-0 m-0 d-flex justify-content-center w-100">
    <div class="col-sm-4 offset-sm-1 col-12  row  d-flex justify-content-center ">
      <div class="col-12  title">
        Ghamgui Khaled
      </div>
      <div class="col-12 subtitle">
        AWS Certified Developer Associate
        <br>
        Serverless expert
        <br>
        <br>

      </div>
      <div class="col-12 description">
        I am a Software Engineer, experienced in Backend Development, Data Engineering and Cloud Computing.
        <br>
        I'm a graduate of MIT's Class of 2018 and my passion is Computer Science.
        My interests include software design and development, artificial intelligence, machine learning, computer
        vision, and natural language processing.
        <br>
        <br>

      </div>
      <div class="col-12 follow  ">
        Follow me on:
      </div>
      <div class="col-12 icons  ">
        <img src="assets/presentation/linkedin.svg" alt="" class="social">
        <img src="assets/presentation/github.svg" alt="" class="social ml-3">

      </div>
    </div>

    <div class="col-sm-6 col-12 my-5 mt-sm-0 row d-flex justify-content-center order-sm-last order-first">
      <div class="col-12 col-sm-10  text-center">
        <img
          src="https://scontent.ftun1-1.fna.fbcdn.net/v/t1.0-9/19260251_10209605804129742_1579246975530933189_n.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=GsKsP8LaNM4AX-bmujk&_nc_ht=scontent.ftun1-1.fna&oh=24df186fac762008d8db73287ee00e16&oe=5FBC3689"
          class="pdp">
      </div>
    </div>
  </div>
</div>


