.background {
  background-image: url("../../assets/skills/desktop-technicalskills.png");
  min-height: 30vh;
  width: 100%;
  background-size: 100% 100%;

}
.title {
  font-size: 36px;
  line-height: 58px;
  color: #0259B6;
  font-weight: bold;
}
.description, .skill-name {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

@media screen and (max-width: 768px) {
  .background {
     background-image: url("../../assets/skills/mobile-technicalskills.png");
  }

}
