<div class="container-fluid background mx-0 px-0 mt-5 pt-5">
  <div class="row  mx-0 d-flex justify-content-center w-100">
    <div class="col-12 title text-center">
      Technical Skills
    </div>
    <div class="col-12 col-sm-6 mt-3 text-center description">
      Experience in building containerized and serverless web applications, designing and implementing data pipelines
      and building and deploying ML models
    </div>
    <div class="col-12 text-center mt-3">
      <button *ngFor="let skill of skills" class="skill">
        <img src="assets/skills/{{skill.toLowerCase()}}.png" alt=""> {{skill}}
      </button>
    </div>
  </div>
</div>
