<mat-card class="cert-card">
  <div class="cert-image-wrapper">
    <img [src]="certification.image" [alt]="certification.name" class="cert-image" />
  </div>
  <mat-card-content class="cert-content">
    <div class="cert-title">{{ certification.name }}</div>
    <div class="cert-subtitle">Issued by {{ certification.issuer }}</div>
    <div class="cert-date">Obtention Date: {{ certification.date }}</div>
  </mat-card-content>
  <mat-card-actions class="cert-actions">
    <a *ngIf="certification.link" [href]="certification.link" target="_blank">
      <button class="verify-btn">
        Verify Certificate
      </button>
    </a>
  </mat-card-actions>
</mat-card>
