<div class="container background">
  <div class="row p-0 m-0">
    <div class="col-md-8 col-12 row">
      <div class="col-12">
        <h1 class="pres-title">
          Hi my name is <span class="nameHighlight">Ghamgui</span>, <br />
          Software Engineer Student
        </h1>
      </div>
      <div class="col-12 pres-description">
        <p class="text-muted">
          Passionate and experienced Backend Developer with a strong focus on
          <br />
          Cloud Computing. Proven track record in building resilient,<br />
          containerized, and serverless web applications.
        </p>
      </div>
      <div class="col-12 icons">
        <a
          href="https://www.linkedin.com/in/khaled-ghamgui-616506174/"
          target="_blank"
        >
          <img src="assets/presentation/linkedin.svg" alt="" class="social" />
        </a>
        <a href="https://github.com/gham-khaled" target="_blank">
          <img
            src="assets/presentation/github.svg"
            alt=""
            class="social ml-3"
          />
        </a>
      </div>

      <div class="col-12 mt-5 d-flex">
        <a
          href="#projects"
          class="button-link"
          pageScroll
          [pageScrollDuration]="300"
        >
          <button
            type="button"
            class="btn d-flex align-items-center px-4 rounded-pill btn-outline-light"
          >
            <mat-icon>exit_to_app</mat-icon>
            <p
              href="#projects"
              class="button-link"
              pageScroll
              [pageScrollDuration]="300"
              class="m-0 ml-3 d-flex"
            >
              SEE PROJECTS
            </p>
          </button>
        </a>
        <a
          href="#skills"
          class="button-link"
          pageScroll
          [pageScrollDuration]="200"
        >
          <button
            type="button"
            class="btn ml-4 d-flex align-items-center px-4 rounded-pill btn-outline-light"
          >
            <mat-icon>grade</mat-icon>
            <p class="m-0 ml-3 d-flex">SEE SKILLS</p>
          </button>
        </a>
      </div>
    </div>

    <div
      class="col-xl-4 col-12 my-5 mt-sm-0 row d-flex justify-content-center align-items-end order-xl-2 order-first"
    >
      <img src="assets/presentation/everest.jpeg.png" class="pdp w-100" />
    </div>
  </div>
</div>
